<nav class="h-16 container mx-auto items-center flex justify-between">
    <div class="items-center"><a href="/"><img src="/img/logo.png" alt=""></a></div>
    <div>
        <ul class="flex items-center">
            <li class="ml-6"><a href="/">Menu</a></li>
            <li class="ml-6"><a href="/customers/orders">Pesanan</a></li>
            <% if(session.user){ %> 
                <li class="ml-6">
                    <form id="logout" action="/logout" method="POST">
                        <a onclick="document.getElementById('logout').submit()">Logout</a>
                    </form>
                </li>
            <% }else{ %> 
                <li class="ml-6"><a href="/register">Register</a></li>
                <li class="ml-6"><a href="/login">Login</a></li>
            <% } %> 
            <li class="ml-6">
                <a href="/cart" class="flex font-bold px-5 py-1 rounded-full"> 
                    <span id="cartCounter" class="text-white"><%= session.cart ? session.cart.totalQty :'0' %> </span>
                    <img src="/img/cart.png" alt="cart-logo">
                </a>
        </li>
        </ul>
    </div>
</nav>